<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- Simple bean definition -->

	<bean id="helloWorld" class="com.spring.samples.HelloWorld"> <property 
		name="message" value="Hello World!" /> </bean>

	<!-- Inner bean definition -->

	<!-- <bean id="helloWorld" class="com.spring.samples.HelloWorld"> <property 
		name="message" value="Hello World!" /> <property name="helloSpring"> <bean 
		id="helloSpring" class="com.spring.samples.HelloSpring"> <property name="message" 
		value="Hello Spring!!!" /> </bean> </property> </bean> -->


	<!-- referring to another bean -->

	<!-- <bean id="helloWorld" class="com.spring.samples.HelloWorld">
		<property name="message" value="Hello World!" />
		<property name="helloSpring" ref="helloSpring" />
	</bean> -->


	<!-- Constructor based injection -->

	<!-- <bean id="helloWorld" class="com.spring.samples.HelloWorld"> <constructor-arg 
		ref="helloSpring" /> <property name="message" value="Hello World!" /> </bean> -->

	<!-- Simple bean definition -->
<!-- 
	<bean id="helloSpring" class="com.spring.samples.HelloSpring">
		<property name="message" value="Hello Spring!!" />
	</bean> -->

</beans>